@import "bootstrap-sprockets";
@import "bootstrap";

$gray-lighter: #eee;

body{
  padding-top: 60px;
}

.home h1{
	margin-bottom: 10px;
}

#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    text-decoration: none;
  }
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

.gravatar {
  float: left;
  margin-right: 10px;
}

  
input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: auto !important;
}

.sign_up {
  h1 {
    text-align: center;
  }
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin-bottom: 30px;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: yellow;
  }
}

.edit_heading {
  text-align: center;
}

.all_users {
  h1 {
    text-align: center;
  }

  .content {
    list-style: none;
    li {
      overflow: auto;
      padding: 10px 0;
      border-bottom: 1px solid $gray-lighter;

      img {
        width: 50px;
        height: 50px;
      }

      a {
        vertical-align: center;
      }
    }
  }
}
